/*
    初始化样式
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 14px;
  line-height: 1.5;
  color: #1a1a1a;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.page {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page-body {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  color: blue;
}
